<h1>Places</h1>

<% if current_user %>
  <ul>
    <% @places.each do |place| %>
      <li><a href="/places/<%= place.id %>"><%= place.name %></a></li>
    <% end %>
  </ul>

  <p>
    <%= link_to 'New place', new_place_path %>
  </p>
<% else %>
  <p>Please log in to view places and create a new place.</p>
<% end %>

<% if current_user %>
  <h2>Your Posts</h2>
  <% current_user.posts.each do |post| %>
    <p><%= post.title %></p>
    <p><%= post.content %></p>
  <% end %>
<% end %>
