<!DOCTYPE html>
<html>
  <head>
    <title>Places App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>
    
    <div>
      <%= flash["notice"] %>
    </div>
    <div>
      <a href="/">Home</a>
      <a href="<%= logout_path %>" data-method="delete">Logout</a>
      <a href="/login">Login</a>
      <a href="/users/new">Signup</a>
    </div>

    <% if current_user %>
      <p>Logged in as: <%= current_user.email %> (Username: <%= current_user.username %>)</p>
    <% end %>

    <%= yield %>
  </body>
</html>
